@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
   --nav-height: 3rem;
}

@media screen and (max-width: 1024px) {
   :root {
      --nav-height: 4rem;
   }
}

.header {
   height: var(--nav-height);
   background-color: var(--nav-bg);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

@media screen and (min-width: 1024px) {
   .custom-content-height {
      min-height: calc(100vh - var(--nav-height) - 9rem); /* 9rem = banner image size */
   }
 }

.main-bg {
   background-color: var(--primary);
}
.primary {
   color: var(--primary-bg);
}
.primary-hover {
   color: var(--primary-hover);
}
.nav-bg {
   background-color: var(--nav-bg);
}
.clip-item-description-text {
   display: -webkit-box;
   -webkit-line-clamp: 1;
   -webkit-box-orient: vertical;
}
@media screen and (max-width: 1024px) {
   .clip-item-description-text {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
   }
}
